<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.wingjay.jayandroid">

    <uses-sdk tools:overrideLibrary = "com.airbnb.lottie"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".App"
        >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>

        <activity android:name=".daggerForGlow.fakeApp.DaggerForGlowAppActivity"/>
        <activity android:name=".daggerForGlow.fakeForum.DaggerForGlowForumActivity"/>

        <activity android:name=".dagger.host.DaggerHostActivity"/>
        <activity android:name=".rxjava.RxJavaActivity"/>
        <activity android:name=".drag.DragActivity"/>
        <activity android:name=".drag.DragChooseActivity"/>
        <activity android:name=".contentprovider.ContentResolverActivity"/>
        <activity android:name=".gesture.GestureActivity"/>

        <activity android:name=".qqitem.DragableActivity"/>
        <activity android:name=".eventdispatch.EventDispatchActivity"/>

        <activity android:name=".fulltextview.FullTextViewActivity"/>

        <activity android:name=".drawable.DrawableActivity"/>
        <activity android:name=".weex.HelloWeexActivity"/>
        <activity android:name=".customizeview.CustomizeViewActivity"/>

        <activity android:name=".perisope.PerisopeActivity"/>
        <activity android:name=".curve.CurveActivity"/>
        <activity android:name=".fastblur.FastBlurActivity"/>
        <activity android:name=".fastblur.LayoutBlurActivity"/>

        <activity android:name=".statusbar.StatusBarActivity"
            android:theme="@style/StatusBarActivity"/>

        <activity android:name=".fab.FabActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".animation.searchbar.TransitionAnimationFromActivity"/>

        <activity android:name=".animation.searchbar.TransitionAnimationToActivity"/>

        <activity android:name=".bitmap.BitmapTestingActivity"/>
        <activity android:name=".retrofitOkhttpUpgrade.RetrofitOkhttpUpgradeActivity"/>
        <activity android:name=".lowpoly.LowPolyActivity"/>
        <activity android:name=".ndkdev.NdkActivity"/>
        <activity android:name=".abot.ABotActivity"/>
        <activity android:name=".fragmentstudy.HolderActivity"/>
        <activity android:name=".realm.RealmIntroActivity"/>
        <activity android:name=".webview.WebViewActivity"/>
        <activity android:name=".eveanimation.EveHomeActivity"
                  android:theme="@style/TransparentTheme"/>
        <activity android:name=".eveanimation.EveCycleViewActivity"
                  android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".animation.searchbar.LottieActivity"/>
        <provider
            android:authorities="com.wingjay.jayandroid.contentprovider"
            android:name=".contentprovider.JayContentProvider"
            android:exported="false"/>

        <provider
            android:authorities="com.wingjay.jayandroid.contentprovider"
            android:name=".sync.provider.ContentProviderLayer"
            android:exported="true"/>

        <meta-data android:name="providerAuthority" android:value="com.wingjay.jayandroid.contentprovider"/>
    </application>

</manifest>
